@import "../utils/variables";
@import "../utils/mixins";

.btn {
  padding: 16px 40px;
  text-decoration: none;

  border: none;
  outline: none;

  display: inline-flex;

  &:hover {
    cursor: pointer;
  }

  &.btn--primary {
    border-radius: 40px;
    background: linear-gradient(180deg, #BC1E6A 0%, #7E1246 100%);
    box-shadow: 3.626px 3.626px 9.065px 0 rgba(0, 0, 0, 0.25);

    span {
      color: $COLOR_WHITE;
      font-family: $ffFuturaPT;
      font-size: 17px;
      font-style: normal;
      font-weight: $medium;
      line-height: normal;
    }
  }
}